
.info{
  text-align: center;
  color: white;
  position: relative;
  top: 70vh;
  font-family: 'Share Tech Mono', monospace;
  font-weight: 900;
  font-size: 3rem;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: 
    linear-gradient(to right bottom,rgba(black, 0.2), rgba(rgb(0, 0, 0), 0.1)),
    // url('https://i.pinimg.com/originals/6a/9a/8b/6a9a8bc2e11be473e4d8f50cbfbf010e.gif');
    url('https://i.pinimg.com/originals/e1/bc/50/e1bc502b145883d561268d30c3d5c3c9.gif');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    background-position: 50% 50%;
    background-attachment: fixed;
  } 

.section-about{
    background-color: black;
    padding: 25rem 0;
    margin-top: 5vh;
    padding-top:0rem;
    padding-bottom: 10rem;

    &__right{
        position: relative;

        &--col{
            position: absolute;
            top:10rem;


        }
    }

}
.logo{
    width: 43vw;

}
nav{
  font-family: 'Share Tech Mono', monospace;
    position: absolute;
    z-index: 2;
    -webkit-box-shadow:none;
    box-shadow: none;
    height: 10rem;
    // background-color: white;

    .brand-logo{
           padding:2.5rem;
    }
   ul{
     #home{
       color: white
     }
   }
    ul a{
        padding: 2.5rem;
        color: rgb(209, 59, 59);
        font-size: 2rem;
        font-weight: 900;

        &:hover{
            color:white;
        }
        &:active{
            color: white;
        }
    }

    
    
}
.section-past{
    background-color: black  ;
    margin-top: 5rem;

    padding-bottom: 30rem;
    // padding-top: 17rem;
    padding-bottom: 10rem;

    .paragraph{
        padding-top:3rem;
    }
     
    .peimg{
        height: auto;
        width: 100%;

    }

}

.timer{
    height: 30rem;
    width:100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-family: 'Share Tech Mono', monospace;
    background-color: rgb(0, 0, 0);
    // background-image: 
    // linear-gradient(to right bottom,rgba(black, 0.3), rgba(rgb(0, 0, 0), 0.4)),
    // // url('https://i.pinimg.com/originals/6a/9a/8b/6a9a8bc2e11be473e4d8f50cbfbf010e.gif');
    // url('https://i.pinimg.com/originals/e1/bc/50/e1bc502b145883d561268d30c3d5c3c9.gif');
   
   .container{
     
       margin: auto; 
       
    
   }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      
      body {
        background-color: #ffd54f;
      }
      
      .container {
        //  position: relative;
        //   bottom: 10rem;
        color: rgb(255, 255, 255);
        text-align: center;
      }
      
      h1 {
        font-weight: normal;
      }
      
      li {
        display: inline-block;
        font-size: 1.5em;
        list-style-type: none;
        padding: 1em;
        text-transform: uppercase;
      }
      
      li span {
        display: block;
        font-size: 4.5rem;
      }
}

#arrow{
    color: white;
}
.downArrow{
    width: 5px;
	position: relative;
	top:78%;
	left: 50%;
}
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
	color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #2ecc71;		
}

#bar{
  background-color: 	rgb(199, 94, 15);
  height: 100%;
  word-spacing: 8rem;
  // background-image: url(https://i.pinimg.com/564x/94/5c/c9/945cc9e76b6581a5c50b35473eb628d1.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
  background-image: url(https://cdn.wallpapersafari.com/88/77/M3qWtJ.jpg);
  background-attachment: fixed;


}

#timer{
  // margin-top: 5rem;
  background-image: url(https://cdn.wallpapersafari.com/88/77/M3qWtJ.jpg);
  background-attachment: fixed;


}

.info{
  text-align: center;
  color: white;
  position: relative;
  top: 70vh;
  // font-family: 'Share Tech Mono', monospace;
  font-weight: 900;
  font-size: 3rem;
}

.theme{
  background-image: url(https://cdn.wallpapersafari.com/88/77/M3qWtJ.jpg);
  background-attachment: fixed;
margin-top: 1rem;
height: 64rem;
padding: 4rem;
padding-top: 21rem !important;
    // font-size: 2.1rem;
    

}

.themeimg{
  width: 90%;
  height: auto;
}
// .map-responsive{
//   border: 2px solid red;
//   overflow:hidden;
//   padding-bottom:56.25%;
//   position:relative;
//   height:0;
// }
// .map-responsive iframe{
//   left:0;
//   top:0;
//   height:100%;
//   width:100%;
//   position:absolute;
// }
.map{
  // border: 2px solid red;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.social-media{
  margin: 10rem;

  i{
    width: 1rem;
    height: auto;
  }
}

.soical-media-main{ margin-top: 10rem;
  margin-bottom: 10rem;

}