@media only screen and (max-width: 1413px){
    .heading-primary--main .x {
        display: none;
        position: absolute;
        left: 13rem;
        top: 2rem;
        
        
    }
    .hidex{
        display: inline;
        text-transform: lowercase;
      }

}

@media only screen and (max-width: 600px) {

    .heading-secondary-2 {
        font-size: 9rem;
    }

    .section-past .peimg {
        height: 30vh;
        width: 60vw;
        margin-top: 8rem;
    
    }

    #pepimg{
        width: 60vw;
        margin: auto;
    }

    .center, .center-align {
        text-align: center;
        font-size: 4rem;
    }
    .heading-secondary{
        font-size: 9rem;
    }

    
    .header__text-box {
     
        top: 67%;}
        

    .heading-tertiary{
        margin-top: 4rem;
        font-size: 3.6rem;
    }

    .u-margin-bottom-big{margin-bottom: 3rem;}

    .section-about__right--col {
        /* top: 10rem; */
        position: static;
    }

    .paragraph{
        font-size: 3rem;
    }


    
    html{
        font-size: 4.5px;
    }
   
    #particles-js {
        background-size: auto;
        height: 85vh;
    }


    
   

    .row{
        padding: 5rem;
    }

     

    .section-past{
      padding: 0px;
        font-size: 8px;
        
    }

    .section-about{
        
      padding: 0rem;

       &__right--comp {
           display: block;  
           margin-top: 5vh;

       }
    }
    .heading-primary--main .x {
        display: none;
        position: absolute;
        left: 13rem;
        top: 2rem;
        
        
    }
    .header{
        height: 81vh;
    }

    .heading-primary--main {
        white-space: nowrap;
        color: red;
        display: flex;
        font-size: 6rem;
        font-weight: 900;
        letter-spacing: .5rem;
        animation: moveInLeft 1s ease-out;
        transition: all 0s;
    }
    .section-form{
            // position: relative;
            .form{
                // position: absolute;      
                width: 80vw;
                margin-left: 0vw;
              
            }
        
    }
   
    .hidex{
        display: inline;
        text-transform: lowercase;
      }
    .contact{
        height: 66vh;
    }

.features-box {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
     font-size: 2.5rem;
             }

  .row .col-1-of-2 {
                width: 100%;
                
            }

            .pepmain{
                img{
                    // width: 80%;
        
                    height: 10%;
                }
                
           
                .col-1-of-3 {
                    overflow: hidden;
                   width: calc((100% - 2 * #{$gutter-horizontal}));
                   margin-left: $gutter-horizontal;
                   margin-bottom: $gutter-horizontal*2;

               }
           
           }

           .row .col-1-of-3 {
            word-break: break-word;}

           
            
}



