.contactus{
    background-color:	rgb(199, 94, 15);
    color: black;
    height: 100%;
    padding-bottom: 5vh;
    background-image: url(https://cdn.wallpapersafari.com/88/77/M3qWtJ.jpg);
    background-attachment: fixed;
  

    a{
        margin-left: 3vw;
    }

    b{
        margin-bottom: 10px;
    }
    
}

