canvas {
    display: block;
    /* vertical-align: bottom; */
  } /* ---- particles.js container ---- */
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    // background-image: 
    // linear-gradient(to right bottom,rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
    // url('https://serving.photos.photobox.com/16973993994e0600df6270ae96f5b89221ec1b49f3dec05ba22b13b218c5d3af031e3958.jpg');
    background-image: url("https://media.giphy.com/media/TEFkTKuonOrOKY4Rdh/giphy.gif");
    background-image: url(./../../img/2.gif);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    background-position: 50% 50%;
  } /* ---- stats.js ---- */
  .count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13e8e9;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  .js-count-particles {
    font-size: 1.1em;
  }
  #stats,
  .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
  }
  #stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  .count-particles {
    border-radius: 0 0 3px 3px;
  }
 