.u-center-text{text-align: center;}
.u-margin-bottom-big{margin-bottom: 8rem;}
.u-margin-bottom-small{margin-bottom: 1.5rem;}
.red-text{color:red;}
.black-text{color: black;}
.u-grad{background-image: linear-gradient(to right bottom,rgba($color-primary-light, 0.8));
        }

.u-white-text{color:white}
.u-margin-top{margin-top:10rem;}
